*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}
:root{
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
}

body{
    background-color: var(--primary-color);
    height: 900px;
    width: 1440px;
    font-family: "righteous", sans-serif;
    
}
header{
    display: flex;
    height: 10%;
    color: #8E4106;
    padding: 70px 80px;
    gap: 0 17px;;
}

.Poke-bola{
    width: 48px;
    height: 48px;
    top: 70px;
    left: 70px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.Pikachu-pequeno{
    color: white;
    font-size: 300px;
    position: absolute;
    font-family: "righteous", sans-serif;
}

.Pikachu-grande{
    position: absolute;
    width: 1462px;
    height: 497px;
    top: 88px;
    left: -11px;
    font-weight: 400;
    font-size: 400px;
    line-height: 100%;
    color: white;
    opacity: 40%;
    font-family: "righteous", sans-serif;
}

.Pikachu{
    width: 559px;
    height: 541px;
    top: 292px;
    left: 440px;
    position: absolute;
}

h3{
    position: absolute;
    width: 530px;
    height: 79px;
    top: 629px;
    left: 70px;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    color: #8E4106;
}

h4{
    position: absolute;
    width: 489px;
    height: 75px;
    top: 708px;
    left: 70px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #8E4106;
}

footer{
   display: flex;
   height: 5%;
   align-items: center;
   justify-content: center;
   color: #8E4106;
}

h5{
    position: absolute;
    width: 208px;
    height: 20px;
    top: 856px;
    left: 586px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}